<h3> Hello, <%= @user.name %>! </h3><br>
<button type="button" class="btn btn-default" data-toggle="modal" data-target="#newMealModal">
  Add a meal
</button>
<button type="button" class="btn btn-default" data-toggle="modal" data-target="#newServingModal">
  Add a serving
</button>
<hr>
<% if @user.meals.length > 0 %>
  <% @user.meals.each do |m| %>
    <%= link_to m.date_eaten.strftime("%B %-d, %Y at %l:%M %P"), m %>
    <ul>
      <% m.portions.each do |p| %>
        <li><%= p.serving.name %> <%= p.grams %> grams</li>
      <% end %>
    </ul>
  <% end %>
<% else %>
  You don't have any meals.
<% end %>
